.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .navbar-brand img {
        max-height: 50px;
    }

    .nav-link {
        font-weight: 500;
        color: #333;
        transition: 0.3s ease all;



    }

    .navbar-toggler {
        font-size: 1.5rem;
        border: none;
        background: transparent;

        span {
            font-size: 1.8rem;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }


    .main-btn {
        padding: 14px 32px;
        background-color: #3b82f6;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        border-radius: 18px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background-color: #2563eb;
            color: #fff;
        }
    }


    @media (max-width: 991.98px) {
        .main-btn {
            margin-top: 1rem;
        }
    }
}