@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'navbar';
@import 'footer';
@import 'hero';
@import 'features-tab';
@import 'variable';

// ✅ Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ✅ Global body background
body {
    background-color: #ffffff;
    color: #000;
}

.nav-link {
    display: flex;
}

.demo-button {
    text-align: center;
    border-radius: 5px;
}